*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root
{
      --bg-secondary: #ffffff;
      --bg-primary: #d8e3e7;
      --bg-ltr-choice: #126e82;
      --font-primary: #132c33;
      --secondary-font: #fff;
      --option-letter-background: #e2703A;
}

body
{
      font-family: Arial, Helvetica, sans-serif;
      background-color: var(--bg-primary);
      /* background-image: url(../img/background.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; */
      height: calc(100vh - 50px);
}

/* UTILITIES */
.grid
{
     display: grid; 
}

.grid-col-2
{
      grid-template-columns: 1fr 1fr;
}

.grid-answers
{
      grid-template-columns: 75px 1fr;
}

/* HEADER */
#main-container
{
      margin: 50px 0 50px 0;
      width: 50%;
      margin: 50px auto;
}
#main-container > h1
{
      text-align: center;
      font-size: 2.5rem;
      color: var(--font-primary);
      margin-bottom: 50px;
}

/* QUESTION CONTAINER */
.question-container
{
      height: 20vh;
      margin: 0 auto;
      background-color: var(--container-background-primary);
      align-items: center;
      font-size: 2rem;
      text-align: center;
      padding: 0 12px;
}

/* CHOICES CONTAINER */
.choices-container
{
      gap: 10px;
      font-size: 1.2rem;
}

.choice-container
{
      padding: 10px 0;
      background-color: var(--bg-secondary);
      gap: 10px;
}
.choice-container:hover
{
      cursor: pointer;
}

.choice-txt,.choice-ltr
{
      display: inline;
}

.choice-ltr
{
      padding: 10px;
      background-color: var(--bg-ltr-choice);
      color: var(--secondary-font);
}

.choice-txt
{
      margin-left: 1rem;
}






