*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root
{
      --font-primary: #132c33;
      --bg-primary: #d8e3e7;
      --bg-btn: #126e82;
      --button-font: #fff;
}

body
{
      font-family: Arial, Helvetica, sans-serif;
      background-color: var(--bg-primary);
}

h1,h2,h3,h4
{
      margin-bottom: 1rem;
}

h1
{
      font-size: 2.8rem;
      margin-bottom: 5rem;
      color: var(--font-primary);
}

/* utilities */
a
{
      text-decoration: none;
}
.container
{
      /* background-color: red; */
      width: 100%;
      height: 100vh;
      display: flex;
      /* center horizontally */
      justify-content: center;
      /* center vertically */
      align-items: center;
      max-width: 50%;
      margin: 0 auto;
}

.flex-column
{
      display: flex;
      flex-direction: column;
}

.flex-center
{
      justify-content: center;
      align-items: center;
}

.justify-center
{
      justify-content: center;
}

.text-center
{
      text-align: center;
}

.hidden
{
      display: none;
}

/* buttons */
.btn
{
      background-color: var(--bg-btn);
      border: 0.1rem solid #000;
      width: 20rem;
      text-align: center;
      margin-bottom: 1rem;
      padding: 1rem;
      color: var(--button-font);
}

.btn:hover
{
      cursor: pointer;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}